

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<div class="container">
  <h1>{{ _('Register') }}</h1>
  <form action="{{ url_for_security('register') }}" class="row g-3" method="POST" name="register_user_form">
    {{ register_user_form.hidden_tag() }}
    {{ render_field_with_errors(register_user_form.email, class="form-control") }}
    {{ render_field_with_errors(register_user_form.username, class="form-control") }}
    {{ render_field_with_errors(register_user_form.password, class="form-control") }}
    {% if register_user_form.password_confirm %}
      {{ render_field_with_errors(register_user_form.password_confirm) }}
    {% endif %}
    {{ render_field(register_user_form.submit, class="btn btn-info mb-3") }}
  </form>
</div>
<!--{% include "security/_menu.html" %}-->

