{% extends 'admin/master.html' %}
{% block body %}

<form action="" method="post" novalidate enctype="multipart/form-data">
    <label class="container" style="padding-left: 0px">Check this box if before uploading your file you want to delete previous entries.
        <input type="checkbox" id="deleteFreqTable" name="deleteFreqTable">
        <span class="checkmark"></span>
    </label>
    <p>

        {{ form.file.label }}<br>
        {{ form.file(size=3) }}<br>
        {% for error in form.file.errors %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}