{% extends "base.html" %}

{% block title %}
    File Upload Form
{% endblock %}

{% block content %}
    <h1> File Upload Form </h1>
    <p> Click here to download sample CSV </p>
    <br>

    <a href="{{ url_for ('convert_to_CSV', table = "Empty", identifier = "None") }}" class="btn btn-info" role="button">Download sample CSV</a>
    
    <form action="" method="post" novalidate enctype="multipart/form-data">
      <p>
            {{ form.file.label }}<br>
            {{ form.file(size=3) }}<br>
            {% for error in form.file.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
      <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

