{% extends "base.html" %}

{% block title %}
    Line Entry Form
{% endblock %}
{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>

{% endblock %}

{% block content %}
    <h1>Line Entry Form</h1>
    
    <form class="form-inline" action="" method="post" novalidate>
        <br>
        <label class="container">My uncertainties for values are not symmetrical 
            <input type="checkbox" id="myCheck" onclick="showUncertainties()">
            <span class="checkmark"></span>
        </label>
        <br>
        {{ form.hidden_tag() }}
        <p>
            {{ form.galaxy_name.label }}<br>
            {{ form.galaxy_name(size=32) }}<br>
            {% for error in form.galaxy_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> If the Galaxy you're looking for does not exist, go to the Add a New Galaxy Page. </p>
        <p>{{ form.galaxy_form() }}</p>
        <p>
            {{ form.right_ascension.label }}<br>
            {{ form.right_ascension(size=32) }}<br>
            {% for error in form.right_ascension.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.declination.label }}<br>
            {{ form.declination(size=32) }}<br>
            {% for error in form.declination.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.emitted_frequency.label }}<br>
            {{ form.emitted_frequency(size=32) }}<br>
            {% for error in form.emitted_frequency.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.species.label }}<br>
            {{ form.species(size=3) }}<br>
            {% for error in form.species.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.integrated_line_flux.label }}<br>
            {{ form.integrated_line_flux(size=32) }}<br>
            {% for error in form.integrated_line_flux.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.integrated_line_flux_uncertainty_positive.label }}<br>
            {{ form.integrated_line_flux_uncertainty_positive(size=32) }}<br>
            {% for error in form.integrated_line_flux_uncertainty_positive.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p id="uncertainty" style="display:none">
            {{ form.integrated_line_flux_uncertainty_negative.label }}<br>
            {{ form.integrated_line_flux_uncertainty_negative(size=32) }}<br>
            {% for error in form.integrated_line_flux_uncertainty_negative.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.peak_line_flux.label }}<br>
            {{ form.peak_line_flux(size=32) }}<br>
            {% for error in form.peak_line_flux.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.peak_line_flux_uncertainty_positive.label }}<br>
            {{ form.peak_line_flux_uncertainty_positive(size=32) }}<br>
            {% for error in form.peak_line_flux_uncertainty_positive.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p id="uncertainty" style="display:none">
            {{ form.peak_line_flux_uncertainty_negative.label }}<br>
            {{ form.peak_line_flux_uncertainty_negative(size=32) }}<br>
            {% for error in form.peak_line_flux_uncertainty_negative.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.line_width.label }}<br>
            {{ form.line_width(size=32) }}<br>
            {% for error in form.line_width.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.line_width_uncertainty_positive.label }}<br>
            {{ form.line_width_uncertainty_positive(size=32) }}<br>
            {% for error in form.line_width_uncertainty_positive.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p id="uncertainty" style="display:none">
            {{ form.line_width_uncertainty_negative.label }}<br>
            {{ form.line_width_uncertainty_negative(size=32) }}<br>
            {% for error in form.line_width_uncertainty_negative.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.freq_type.label }}<br>
            {{ form.freq_type(size=2) }}<br>
            {% for error in form.freq_type.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.observed_line_frequency.label }}<br>
            {{ form.observed_line_frequency(size=32) }}<br>
            {% for error in form.observed_line_frequency.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.observed_line_frequency_uncertainty_positive.label }}<br>
            {{ form.observed_line_frequency_uncertainty_positive(size=32) }}<br>
            {% for error in form.observed_line_frequency_uncertainty_positive.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p id="uncertainty" style="display:none">
            {{ form.observed_line_frequency_uncertainty_negative.label }}<br>
            {{ form.observed_line_frequency_uncertainty_negative(size=32) }}<br>
            {% for error in form.observed_line_frequency_uncertainty_negative.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.detection_type.label }}<br>
            {{ form.detection_type(size=3) }}<br>
            {% for error in form.detection_type.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.observed_beam_major.label }}<br>
            {{ form.observed_beam_major(size=32) }}<br>
            {% for error in form.observed_beam_major.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.observed_beam_minor.label }}<br>
            {{ form.observed_beam_minor(size=32) }}<br>
            {% for error in form.observed_beam_minor.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.observed_beam_angle.label }}<br>
            {{ form.observed_beam_angle(size=32) }}<br>
            {% for error in form.observed_beam_angle.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.reference.label }}<br>
            {{ form.reference(size=32) }}<br>
            {% for error in form.reference.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.notes.label }}<br>
            {{ form.notes(size=32) }}<br>
            {% for error in form.notes.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>

 
{% endblock %}