{% extends "base.html" %}

{% block title %}
    Line Entry Form
{% endblock %}

{% block content %}
    <h1>Line Entry Form</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.galaxy_name.label }}<br>
            {{ form.galaxy_name(size= 1) }}<br>
            {% for error in form.galaxy_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.j_upper.label }}<br>
            {{ form.j_upper(size=32) }}<br>
            {% for error in form.j_upper.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.line_id_type.label }}<br>
            {{ form.line_id_type(size=32) }}<br>
            {% for error in form.line_id_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.integrated_line_flux.label }}<br>
            {{ form.integrated_line_flux(size=32) }}<br>
            {% for error in form.integrated_line_flux.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.integrated_line_flux_uncertainty_positive.label }}<br>
            {{ form.integrated_line_flux_uncertainty_positive(size=32) }}<br>
            {% for error in form.integrated_line_flux_uncertainty_positive.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.integrated_line_flux_uncertainty_negative.label }}<br>
            {{ form.integrated_line_flux_uncertainty_negative(size=32) }}<br>
            {% for error in form.integrated_line_flux_uncertainty_negative.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.peak_line_flux.label }}<br>
            {{ form.peak_line_flux(size=32) }}<br>
            {% for error in form.peak_line_flux.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.peak_line_flux_uncertainty_positive.label }}<br>
            {{ form.peak_line_flux_uncertainty_positive(size=32) }}<br>
            {% for error in form.peak_line_flux_uncertainty_positive.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.peak_line_flux_uncertainty_negative.label }}<br>
            {{ form.peak_line_flux_uncertainty_negative(size=32) }}<br>
            {% for error in form.peak_line_flux_uncertainty_negative.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.line_width.label }}<br>
            {{ form.line_width(size=32) }}<br>
            {% for error in form.line_width.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.line_width_uncertainty_positive.label }}<br>
            {{ form.line_width_uncertainty_positive(size=32) }}<br>
            {% for error in form.line_width_uncertainty_positive.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.line_width_uncertainty_negative.label }}<br>
            {{ form.line_width_uncertainty_negative(size=32) }}<br>
            {% for error in form.line_width_uncertainty_negative.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.observed_line_frequency.label }}<br>
            {{ form.observed_line_frequency(size=32) }}<br>
            {% for error in form.observed_line_frequency.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.observed_line_frequency_uncertainty_positive.label }}<br>
            {{ form.observed_line_frequency_uncertainty_positive(size=32) }}<br>
            {% for error in form.observed_line_frequency_uncertainty_positive.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.observed_line_frequency_uncertainty_negative.label }}<br>
            {{ form.observed_line_frequency_uncertainty_negative(size=32) }}<br>
            {% for error in form.observed_line_frequency_uncertainty_negative.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.detection_type.label }}<br>
            {{ form.detection_type(size=32) }}<br>
            {% for error in form.detection_type.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.observed_beam_major.label }}<br>
            {{ form.observed_beam_major(size=32) }}<br>
            {% for error in form.observed_beam_major.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.observed_beam_minor.label }}<br>
            {{ form.observed_beam_minor(size=32) }}<br>
            {% for error in form.observed_beam_minor.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.observed_beam_angle.label }}<br>
            {{ form.observed_beam_angle(size=32) }}<br>
            {% for error in form.observed_beam_angle.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.reference.label }}<br>
            {{ form.reference(size=32) }}<br>
            {% for error in form.reference.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.notes.label }}<br>
            {{ form.notes(size=32) }}<br>
            {% for error in form.notes.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}