{% extends "./base.html" %}

{% block title %}
    Main 
{% endblock %}
{% block style %}
<style>
   ul#menu li {
     display:inline;
   }
</style>
{% endblock %}

{% block content %}
<div class="container">
<hr>
<h1> The High-z FIR/radio Spectral Line Detection Database </h1>
<br>

<a href="{{ url_for('main.query_results') }}" class="btn btn-info" role="button">Advanced Search</a>
<a href="{{ url_for('main.contribute') }}" class="btn btn-info" role="button">Contribute Data</a>
<a href="{{ url_for('main.galaxy_entry_form') }}" class="btn btn-info" role="button">Create a New Galaxy</a>
<a href="{{ url_for('main.line_entry_form') }}" class="btn btn-info" role="button">Add a Line to an Existing Galaxy</a>
<a href="{{ url_for('main.entry_file') }}" class="btn btn-info" role="button">Enter Values Through a File</a>


<br>
<br>
{% if form %}
<li class="list-inline-item">
   <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.query_results') }}">
     <ul class="list-inline text-right" >
         <li class="list-inline-item">
            <div class="form-group">
               {{ form.search(size=20, class='form-control',placeholder=form.search.label.text) }}
            </div>
         </li>
         <li class="list-inline-item">
            <button type="submit" value="Search">
               {{ form.submit() }}
            </button>
         </li>
     </ul>
   </form> 
</li>
{% endif %}

<br> 
<br>

<h2> Database sorted by galaxy name </h2>
<table class = "table" id = "Galaxy">
         <thead>
            <tr>
               <th>Name</th>
               <th>Right Ascension</th>
               <th>Declination</th>
               <th>Lines per Species</th>
               <th>Redshift</th>
               <th>Classification</th>
            </tr>
         </thead>
         
         <tbody>

            {% for g, galaxy_count in galaxies|zip(count_list) %}

               <tr>
                  <td><a href="{{ url_for('main.galaxy', name=g.name) }}">{{ g.name }}</a></td>
                  <td>{{ g.right_ascension }}</td>
                  <td>{{ g.declination }}</td>
                  {% set id = g.id %}
                  <td>
                     <ul id="menu">
                     {% for species in list_of_lines_per_species[galaxy_count] %}
                        <li>{{species}}</li>
                     {% endfor %}
                     </ul>
                  </td>
                  <td>{{ g.redshift }}</td>
                  <td>{{ g.classification }}</td>
               </tr>
               
            {% endfor %}
         </tbody>
      </table>

<a href="{{ url_for ('main.convert_to_CSV', table = "Galaxy", identifier = "None", symmetrical = "False") }}" class="btn btn-info" role="button">Download All Galaxies as CSV</a>
<a href="{{ url_for ('main.convert_to_CSV', table = "Everything", identifier = "None", symmetrical = "False") }}" class="btn btn-info" role="button">Download All Galaxies and Lines as CSV</a>

<br> 
<br>


</div>
{% endblock %}