{% extends "./base.html" %}

{% block title %}
    User ha-ha {{ user.username }} 
{% endblock %}

{% block content %}

    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}
                <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                <p>Last seen on: {{ user.last_seen }}</p>
                {% endif %}

                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% endif %}

                {% if user == current_user %}
                <p><a href="{{ url_for('main') }}">Back to database</a></p>
                {% endif %}

            </td>
        </tr>
    </table>

    <hr>

    <img src="https://lh3.googleusercontent.com/proxy/MEfaBCwRAwNjjZKwbcCx8D04VoLFDFV-lQadG-jxgn_9m7WAZx4NPVUy64Uajt3IUVp5LkqceGVx4F6QtcAZbKqGpKtsLY8" width="100" height="100">

    <p> University : {{user.university }} </p>
    <p> Website : {{ user.website }} </p>

{% endblock %}