{% extends "./base.html" %}

{% block title %}
    Contribute Data 
{% endblock %}

{% block content %}

<hr>
<h1> Contribute Page </h1>
<hr>
<hr>
<p> Instructions are here. </p>
<hr>
<hr>
<a href="{{ url_for('main.galaxy_entry_form') }}" class="btn btn-info" role="button">Add a New Galaxy</a>
<a href="{{ url_for('main.line_entry_form') }}" class="btn btn-info" role="button">Add a Line to an Existing Galaxy</a>
<a href="{{ url_for('main.entry_file') }}" class="btn btn-info" role="button">Enter Values Through a File</a>


{% endblock %}