{% extends "./base.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
<div class="container">
<hr>
<h1> Contact us! We would like to hear your feedback. </h1>
<br>
<br>
<p> 
    If you have any questions or propositions, please contact Dr. Chelsea Sharon at chelsea.sharon@yale-nus.edu.sg
</p>
<p>
    If you have encountered a technical issue please contact our technical team (contact tbd). You can also check out project's GitHub page and report a bug / propose a feature if you wish.
</p>

<p>
    <i>Created by Dr. Chelsea Electra Sharon, <a href="https://github.com/UladzimirTreihis">Uladzimir Treihis</a>, and Akanksha Chokshi.</i>
</p>
</div>


{% endblock %}