{% extends "./base.html" %}

{% block title %}
    Contribute Data 
{% endblock %}

{% block page_content %}

<h1> Contribute Page </h1>
<hr>
<p> For entering one of two galaxies/lines, please use one of the first two buttons. </p>
<p> Submissions are automatically checked for existing sources. </p>
<p> All entries will be approved by an administrator prior to addition to the public catalog.</p>
<p> For streamlined upload of more than one galaxy/line via CSV, please circle "Enter Values Through a File".</p>
<hr>
<a href="{{ url_for('main.galaxy_entry_form') }}" class="btn btn-info" role="button">Add a New Galaxy</a>
<a href="{{ url_for('main.line_entry_form') }}" class="btn btn-info" role="button">Add a Line to an Existing Galaxy</a>
<a href="{{ url_for('main.entry_file') }}" class="btn btn-info" role="button">Enter Values Through a File</a>


{% endblock %}