{% extends "base.html" %}

{% block title %}
    Edit User {{ user.username }} 
{% endblock %}

{% block page_content %}

<h1>Edit Profile</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="">
        {{ form.username.label(class="form-label") }}<br>
        {{ form.username(size=32, class="form-control") }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.university.label(class="form-label") }}<br>
        {{ form.university(size=32, class="form-control") }}<br>
        {% for error in form.university.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.website.label(class="form-label") }}<br>
        {{ form.website(size=32, class="form-control") }}<br>
        {% for error in form.website.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.about_me.label(class="form-label") }}<br>
        {{ form.about_me(cols=32, rows=4, class="form-control") }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="d-grid gap-2">
        {{ form.submit (class="btn btn-info mb-3") }}
    </div>
</form>

{% endblock %}