{% extends "base.html" %}

{% block title %}
    File Upload Form
{% endblock %}

{% block content %}
<div class="container">
    <h1> Submitting Entries from a File </h1>
    <p> 
      In order to upload multiple detections from a file, you must use a CSV file with correct format. Please download the template file below. Files that do not match the required format be automatically rejected. If your submission is rejected, please see the output warnings for possible corrections, and then resubmit. If you have further issues, please contact the database admin. All submissions will be manually approved before becoming publically accessible.
    </p>
    <p>
      While entering values, please note that:
    <ul>
      <li> Coordinate System must be ICRS or J2000 only </li>
      <li> For the lensing glag, enter either Lensed, Unlensed or Unknown</li>
      <li> For freq type, enter 'z' for redshift or 'f' for frequency.</li>
      <li> For galaxy classifications, enter one or more of the following separated by commas: </li>
    </ul>
    <ul style="list-style-type:none;">
      <li> LBG (Lyman Break Galaxy)</li>
      <li> MS (Main Sequence Galaxy) </li>
      <li> SMG (Submillimeter Galaxy) </li>
      <li> DSFG (Dusty Star-Forming Galaxy) </li>
      <li> SB (Starburst) </li>
      <li> AGN (Active Galactic Nucleus </li>
      <li> QSO (Optically Bright AGN) </li>
      <li> Quasar (Optical and Radio Bright AGN) </li>
      <li> RQ-AGN (Radio-Quiet AGN)</li>
      <li> RL-AGN (Radio-Loud AGN)</li>
      <li> RG (Radio Galaxy) </li>
      <li> BzK (BzK-selected Galaxy) </li>
    </ul>
    <br>
    <p> 
      If your uncertainties are symmetric (positive and negative uncertainties are the same), it's okay to only fill in the column for the positive uncertainties and leave the 2nd column blank.
    </p>
    <br>

    <a href="{{ url_for ('main.convert_to_CSV', table = 'Empty', identifier = 'None', to_frequency = '0') }}" class="btn btn-info" role="button">Download sample CSV</a>
    <br>
    <br>
    <br>
    <br>
    <form action="" method="post" novalidate enctype="multipart/form-data">
      <p>
            {{ form.file.label }}<br>
            {{ form.file(size=3) }}<br>
            {% for error in form.file.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
      <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for ('main.main') }}" class="btn btn-info" role="button">Back to Database</a>
</div>
{% endblock %}

