{% extends "base.html" %}

{% block title %}
    File Upload Form
{% endblock %}

{% block content %}
<div class="container">
    <h1> Submitting Entries from a File </h1>
    <p> 
      In order to upload multiple detections from a file, you must use a CSV file with correct format. Please download one of the template files below (for symmetric or assymetric uncertainties). Files that do not match the required format be automatically rejected. If your submission is rejected, please see the output warnings for possible corrections, and then resubmit. If you have further issues, please contact the database admin. All submissions will be manually approved before becoming publically accessible.
    </p>
    <p>
      While entering values, please note that:
    <ul>
      <li> Coordinate System must be ICRS or J2000 only </li>
      <li> For Lensing Flag, enter either Lensed, Unlensed or Unknown</li>
      <li> For Freq Type, enter 'z' for Redshift or 'f' for Frequency.</li>
      <li> For Galaxy Classifications, enter one or more of the following: </li>
    </ul>
      LBG (Lyman Break Galaxy), MS (Main Sequence Galaxy), SMB (Submillimeter Galaxy), DSFG (Dusty Star-Forming Galaxy), SB (Starburst), AGN (Contains a Known Active Galactic Nucleus), QSO (Optically Bright AGN), Quasar (Optical and Radio Bright AGN), Q-AGN (Radio-Quiet AGN), RL-AGN (Radio-Loud AGN), RG (Radio Galaxy), BZK (BZK-Selected Galaxy)
      <li> If your assymetries are symmetric (positive and negative uncertainties are the same), it's okay to only fill in the column for the positive uncertainties. </li>

    </p>
    <br>

    <a href="{{ url_for ('main.convert_to_CSV', table = 'Empty', identifier = 'None') }}" class="btn btn-info" role="button">Download sample CSV</a>
    <br>
    <br>
    <br>
    <p>
      Alternatively, if you have any asymmetric uncertainties, use this template to upload file instead.
    </p>
    <br>
    <br>
    <br>
    <form action="" method="post" novalidate enctype="multipart/form-data">
      <p>
            {{ form.file.label }}<br>
            {{ form.file(size=3) }}<br>
            {% for error in form.file.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
      <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for ('main.main') }}" class="btn btn-info" role="button">Back to Database</a>
</div>
{% endblock %}

