{% extends "./base.html" %}

{% block title %}
    Galaxy {{ galaxy.name }} 
{% endblock %}
{% block script %}
    <script src=
"https://code.jquery.com/jquery-3.2.1.slim.min.js" 
                integrity=
"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
                crossorigin="anonymous">
    </script>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
                integrity=
"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
                crossorigin="anonymous">
    </script>
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
                integrity=
"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous">
    </script>
    <script src=
"https://code.jquery.com/jquery-3.5.1.js"
                integrity=
"sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
                crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/coordinates.js') }}"></script>
{% endblock %}

{% block content %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/coordinates.js') }}"></script>

    <h2> Galaxy Details </h2>

    <table class = "table table-hover" id = "Galaxy" style="width: 100%;">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Average R.A.</th>
            <th>Average Dec.</th>
            <th>Coordinate System</th>
            <th>Average Redshift</th>
            <th>Redshift Error</th>
            <th>Lensed?</th>
            <th>Classification</th>
            <th>Notes</th>
        </tr>
        </thead>
        
        <tbody>
            <tr>
                <td><a href="{{ url_for ('main.galaxy_edit_form', id = galaxy.id) }}"  style="width: 5%;"> Update</a></td>
                <td style="width: 5%;">{{ galaxy.name }}</td>
                <td name="raCoordinates" id="{{ galaxy.right_ascension }}" style="width: 5%;"></td>
                <td name="decCoordinates" id="{{ galaxy.declination }}"  style="width: 5%;"></td>
                <td style="width: 10%;">{{ galaxy.coordinate_system }}</td>
                <td style="width: 5%;">{{ galaxy.redshift }}</td>
                <td style="width: 5%;">{{ galaxy.redshift_error }}</td>
                <td style="width: 5%;">{{ galaxy.lensing_flag }}</td>
                <td style="width: 5%;">{{ galaxy.classification }}</td>
                <td style="width: 50%;">{{ galaxy.notes }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>
    <h2> Lines in this Galaxy </h2>
    <p>
        To see individual lines' individual positions, please download. 
    </p>
    <a href="{{ url_for ('main.convert_to_CSV', table = 'Galaxy Lines', identifier = galaxy.id, symmetrical = 'False') }}" class="btn btn-info" role="button">Download line entries for this galaxy</a>

    <div style="width:100%;height:500px;line-height:1em;overflow:auto;padding:5px;">
        <table class = "table table-hover" id = "Line" style="width: 100%">
            <thead>
                <tr>
                    <th></th>
                    <th>\( Species \)</th>
                    <th>\( f_{rest} \) \( (GHz) \)</th>
                    <th>\( S \Delta v \) \((Jy \ km \ s^{-1}) \)</th>
                    <th>\( +\sigma_{S \Delta V} \) \( (Jy \ km \ s^{-1}) \)</th>
                    <th>\( -\sigma_{S \Delta V} \) \( (Jy \ km \ s^{-1}) \)</th>
                    <th>\( S_{max} \) \( (mJy) \)</th>
                    <th>\( +\sigma_{S_{max}} \) \( (mJy) \)</th>
                    <th>\( -\sigma_{S_{max}} \) \( (mJy) \)</th>
                    <th>\( FWHM \) \( (kms^{-1}) \)</th>
                    <th>\( +\sigma_{FWHM} \) \( (kms^{-1}) \)</th>
                    <th>\( -\sigma_{FWHM} \) \( (kms^{-1}) \)</th>
                    <th>\( f_{obs} \) \( (GHz) \)</th>
                    <th>\( +\sigma_{f_{obs}} \) \( (GHz) \)</th>
                    <th>\( -\sigma_{f_{obs}} \) \( (GHz) \)</th>
                    <th>\( Telescope \) \( Type \)</th>
                    <th>\( Beam \ Maj. \) \(FWHM ('') \)</th>
                    <th>\( Beam \ Min. \) \(FWHM ('') \)</th>
                    <th>\( Beam \ P.A. \) \( (*) \)</th>
                    <th>\( Reference \)</th>
                    <th>\( Notes \)</th>
                    <th style = "display: none">\( Text \) </th>
                </tr>
            </thead>
            
            <tbody>
                {% for line in lines %}

                <tr>
                    <td><a href="{{ url_for ('main.line_edit_form', id = line.id) }}"  style="width: 5%;"> Update</a></td>
                    <td>{{ line.species }}</td>
                    <td>{{ line.emitted_frequency }}</td>
                    <td>{{ line.integrated_line_flux }}</td>
                    <td>{{ line.integrated_line_flux_uncertainty_positive }}</td>
                    <td>{{ line.integrated_line_flux_uncertainty_negative }}</td>
                    <td>{{ line.peak_line_flux }}</td>
                    <td>{{ line.peak_line_flux_uncertainty_positive }}</td>
                    <td>{{ line.peak_line_flux_uncertainty_negative }}</td>
                    <td>{{ line.line_width }}</td>
                    <td>{{ line.line_width_uncertainty_positive }}</td>
                    <td>{{ line.line_width_uncertainty_negative }}</td>
                    <td>{{ line.observed_line_redshift }}</td>
                    <td>{{ line.observed_line_redshift_uncertainty_positive }}</td>
                    <td>{{ line.observed_line_redshift_uncertainty_negative }}</td>
                    <td>{{ line.detection_type }}</td>
                    <td>{{ line.observed_beam_major }}</td>
                    <td>{{ line.observed_beam_minor }}</td>
                    <td>{{ line.observed_beam_angle }}</td>
                    <td>{{ line.reference }}</td>
                    <td> <button class="gfgselect btn btn-info" data-toggle="modal" data-target="#gfgmodal"> Show </button></td>   
                    <td class = "notes" style = "display:none"> {{line.notes}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>   
    <script type="text/javascript" src="{{ url_for('static', filename='js/coordinates.js') }}"></script>
    <script>
        $(function () {
            $(".gfgselect").click(function () {
                var notes = $(this).parents("tr").find(".notes").text();
                var p = "";
                p += "<p> " + notes + "</p>";
                $("#divGFG").empty();
                $("#divGFG").append(p);
            });
        });
    </script>
    <div class="modal fade" 
         id="gfgmodal"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"
                        id="gfgmodallabel">
                      Notes</h2>
                    <button type="button" 
                            class="close"
                            data-dismiss="modal" 
                            aria-label="Close">
                        <span aria-hidden="true">
                          ×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="GFGclass" 
                         id="divGFG"></div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary" 
                                data-dismiss="modal">
                          Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
