{% extends "./base.html" %}

{% block title %}
    Home 
{% endblock %}

{% block page_content %}

<h1> The High-z FIR/radio Spectral Line Detection Database </h1>
<br>
<h2> About the Project </h2>
<br>
<p> 
    This is a public database of all published detections of atomic and molecular spectral lines for galaxies at z &#8805; 1. In addition to searching for line detections based on your criteria (redshift range, position, etc) you are encouraged to add your own (or others') published detections to the database.
</p>
<p> 
    Please <a href="{{ url_for_security('register') }}">register</a> or <a href="{{ url_for_security('login') }}">log in</a> to submit new detections / make corrections. 
</p>
<p> 
    If you use this database in your paper, please cite /TBD/ and reference the date of catalog download. We encourage you to cite the original papers of the detections as well! Citation information is supplied in the downloads. 
</p>



{% endblock %}