{% extends "./base.html" %}

{% block title %}
    {{ user.username }} 
{% endblock %}

{% block page_content %}

<table>
    <tr valign="top">
        <td>
            <h1>Profile Name: {{ user.username }}</h1>
            {% if user.about_me %}
            <p>{{ user.about_me }}</p>
            {% endif %}

            {% if user == current_user %}
            <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
            {% endif %}

            {% if user == current_user %}
            <p><a href="{{ url_for('main.main') }}">Back to database</a></p>
            {% endif %}

        </td>
    </tr>
</table>

<hr>
{% if user.has_role('admin') %}
<p> Role: Admin</p>
{% else %}
<p> Role: Contributor </p>
{% endif %}


<p> Affiliation : {{user.university }} </p>
<p> Website : {{ user.website }} </p>
<p> Email Address : {{ user.email }}</p>

{% endblock %}