{% extends 'admin/master.html' %}
{% block body %}

<nav class="navbar navbar-dafault" role="navigation"></nav>
<ul class="nav nav-tabs action-nav">
    <li class="active">
        <a href="javascript:void(0)">List #</a>
    </li>
    <li class="dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown"
        href="javascript:void(0)">
            With selected
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:void(0)" onclick="return modelActions.execute('delete');">
                Delete
                </a>
            </li>
        </ul>
    </li>
</ul>


<script type="text/javascript">
    // Select all check boxes : Setting the checked property to true in checkAll() function
      function checkAll(){
        var items = document.getElementsByName('rowid');
          for (var i = 0; i < items.length; i++) {
              if (items[i].type == 'checkbox')
                  items[i].checked = true;
          }
      }
  // Clear all check boxes : Setting the checked property to false in uncheckAll() function
      function uncheckAll(){
        var items = document.getElementsByName('rowid');
          for (var i = 0; i < items.length; i++) {
              if (items[i].type == 'checkbox')
                  items[i].checked = false;
          }
      }
</script>


<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr>
                <th class="list-checkbox-column">
                    <input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="Select all records" onclick="checkAll">
                </th>
                <th class="col-md-1">nbsp;></th>
                <th>Post ID</th>
                <th>Type of entry</th>
                <th>ID of entry</th>
                <th>About</th>
                <th>User's email</th>
                <th>Date and time</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts_query %}
                {% set p = post[0] %}
                {% set tg = post[1] %}
                {% set tl = post[2] %}
                {% set eg = post[3] %}
                {% set el = post[4] %}
            <tr>
                <td>
                    <input type="checkbox" name="rowid" class="action-checkbox" 
                    value="{{p.id}}" title="Select record">
                </td>
                <td class="list-buttons-column">
                    <form class="icon" method="GET" action="/post_delete/{{p.id}}">
                        <input id="id" name="id" required type="hidden" value={{p.id}}>
                        <input id="url" name="url" type="hidden" value="/post/">
                        <button onclick="return faHelpers.safeConfirm('Are you sure you want to delete this record?');" 
                        title="Delete record">
                            <span class="fa fa-trash glyphicon glyphicon-trash">
                                <a href="{{ url_for('adm.post_delete', id=p.id) }}"></a>
                            </span>
                        </button>
                    </form> 	
                    <form class="icon" method="GET" action="/post_approve/{{p.id}}">
                        <input id="id" name="id" required type="hidden" value={{p.id}}>
                        <input id="url" name="url" type="hidden" value="/post/">
                        <button onclick="return faHelpers.safeConfirm('Are you sure you want to approve this record?');" 
                        title="Approve record">
                            <span class="fa fa-trash glyphicon glyphicon-ok">
                                <a href="{{ url_for('adm.post_approve', id=p.id) }}"></a>
                            </span>
                        </button>
                    </form> 
                </td>
                <td>{{p.id}}</td>
                {% if p.templine_id != None %}
                <td>New Line</td>
                <td>{{tl.id}}</td>
                <td>
                    <ul>
                        <li>
                            {{tl.galaxy_name}}
                        </li>
                        <li>
                            {{tl.emitted_frequency}}
                        </li>
                        <li>
                            {{tl.observed_line_frequency}}
                        </li>
                    </ul>
                </td>
                {% elif p.tempgalaxy_id != None %}
                <td>New Galaxy</td>
                <td>{{tg.id}}</td>
                <td>
                    <ul>
                        <li>
                            {{tg.name}}
                        </li>
                        <li>
                            {{tg.right_ascension}}
                        </li>
                        <li>
                            {{tg.declination}}
                        </li>
                    </ul>
                </td>
                {% elif p.editgalaxy_id != None %}
                <td>Edit Galaxy</td>
                <td>{{eg.id}}</td>
                <td>
                    <ul>
                        <li>
                            {{eg.name}}
                        </li>
                        <li>
                            {{eg.right_ascension}}
                        </li>
                        <li>
                            {{eg.declination}}
                        </li>
                        <li>
                            {{eg.is_edited}}
                        </li>
                    </ul>
                </td>

                {% else %}
                <td>Edit Line</td>
                <td>{{el.id}}</td>
                <td>
                    <ul>
                        <li>
                            {{el.galaxy_name}}
                        </li>
                        <li>
                            {{el.emitted_frequency}}
                        </li>
                        <li>
                            {{el.observed_line_frequency}}
                        </li>
                        <li>
                            {{el.is_edited}}
                        </li>
                    </ul>
                </td>

                {% endif %}
                
                <td>{{p.user_email}}</td>
                <td>{{p.time_submitted}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{% endblock %}