.container-content {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}